#FOLDERS
111/
ESM/
blueprints/    
config/        
crash-reports/ 
defaultconfigs/
kubejs/
local/
logs/
mods/
options.txt
p3_notes.xlsx
patchouli_data.json
resourcepacks/
rhino.local.properties
saves/
screenshots/
usercache.json
usernamecache.json
