#FOLDERS
111/
ESM/
blueprints/       
crash-reports/ 
local/
logs/
mods/
options.txt
p3_notes.xlsx
patchouli_data.json
resourcepacks/
rhino.local.properties
saves/
screenshots/
usercache.json
usernamecache.json
season_assignments.ods
season_assignment.ods


kubejs/data/mmorpg/mmorpg_base_gear_types/earring.json

config/perfectplushieapi-common.toml
config/betterarcheology-common.toml
config/defaultoptions-common.toml
config/scannable-client.toml
config/scannable-common.toml
config/spark/
knownkeys.txt
config/EntityLootDrops/
config/cull-less-leaves.json
config/modernfix-common.toml
config/modernfix-mixins.properties
modernfix/
config/icarus.jsonc
config/farmersdelight-client.toml
config/farmersdelight-common.toml
defaultconfigs/ftbchunks
defaultconfigs/ftblibrary
defaultconfigs/ftbquests
defaultconfigs/ftbxmodcompat
defaultconfigs/ftbessentials-server.snbt
config/solonion-client.json
config/ae2/common.json
config/aether
config/aether-client.toml
config/aether-common.toml
config/animation_overhaul
config/anti_mob_farm-common.toml
config/aquaculture-common.toml
config/artifacts
config/attributeslib.cfg
config/azurelib.json
config/balm-client.toml
config/balm-common.toml
config/ba_bt-common-1.toml.bak
config/ba_bt-common-2.toml.bak
config/ba_bt-common-3.toml.bak
config/ba_bt-common-4.toml.bak
config/ba_bt-common-5.toml.bak
config/ba_bt-common.toml
config/betteradvancements-client.toml
config/bettercombat/client.json5
config/bettercombat/fallback_compatibility.json
config/biomesoplenty
config/blue_skies-client.toml
config/bosses_of_mass_destruction.json5
config/botania-client.toml
config/botania-common.toml
config/botanypotstiers-common.toml
config/buildinggadgets2-common.toml
config/cataclysm
config/cataclysm.toml
config/ccl.cfg
config/collective.json5
config/collectorsalbum-client.yaml
config/collectorsalbum.yaml
config/combatroll/client.json5
config/combatroll/enchantments.json
config/combatroll/server.json5
config/configuration-options.json
config/configured-client.toml
config/constructionwand-client.toml
config/cookingforblockheads-common.toml
config/corgilib
config/crackerslib-client.toml
config/create-client.toml
config/create-common.toml
config/creeperoverhaul.jsonc
config/cucumber-client.toml
config/cucumber-common.toml
config/cucumber-tags.json
config/cumulus_menus-client.toml
config/curios-client.toml
config/curios-common.toml
config/cosmeticarmorreworked-client.toml
config/cosmeticarmorreworked-common.toml
config/hardcorerevival-common.toml
config/megacells.json
config/dimdungeons-client.toml
config/dimdungeons-common-r190.toml
config/embeddium-fingerprint.json
config/embeddium-mixins.properties
config/embeddium-options.json
config/emc_interface-common.toml
config/endermanoverhaul-client.jsonc
config/endermanoverhaul.jsonc
config/EnderStorage.cfg
config/endertrigon-common.toml
config/endrem.toml
config/enhanced_boss_bars-common.toml
config/epicknights
config/equipmentcompare-common.toml
config/explorerscompass-client.toml
config/explorerscompass-common.toml
config/extremereactors
config/extremesoundmuffler-client.toml
config/fastbench.cfg
config/fastsuite.cfg
config/ferritecore-mixin.toml
config/feywild/compat.json5
# config/feywild/misc.json5
config/feywild/mobs.json5
config/fluxnetworks-client.toml
config/fluxnetworks-common.toml
config/flywheel-client.toml
config/fml.toml
config/forge-client.toml
config/ftbxmodcompat.snbt
config/functionalstorage
config/fzzy_config
config/guideme.toml
config/idas.toml
config/immediatelyfast.json
config/immersive_paintings.json
config/incontrol/areas.json
config/incontrol/breakevents.json
config/incontrol/effects.json
config/incontrol/events.json
config/incontrol/experience.json
config/incontrol/leftclicks.json
config/incontrol/loot.json
config/incontrol/phases.json
config/incontrol/placeevents.json
config/incontrol/rightclicks.json
config/incontrol/summonaid.json
config/industrialforegoing
config/integrated_villages-forge-1_20.toml
config/itemborders-common.toml
config/jade
config/jei
config/jeresources-common.toml
config/jeresources.toml
config/kiwi-client.yaml
config/kiwi-common.yaml
config/lootbeams
config/lootr-client.toml
config/lootr-common.toml
config/mantle-client.toml
config/matc-client.toml
config/merequester-common.toml
config/minecolonies-client.toml
config/minecolonies-common.toml
config/mine_and_slash_neat_gui-client.toml
config/modnametooltip-client.toml
config/moonlight-client.toml
config/moonlight-common.toml
config/MouseTweaks.cfg
config/mowziesmobs-client.toml
config/mowziesmobs-common.toml
config/mutantmonsters-common.toml
config/mutantmonsters-server.toml
config/mysticalagradditions-common.toml
config/mysticalagriculture-client.toml
config/mysticalagriculture-common.toml
config/naturescompass-client.toml
config/naturescompass-common.toml
config/necronomicon.json5
config/neruina.json
config/oculus.properties
config/pamhc2crops.toml
config/pamhc2trees.toml
config/patchouli-client.toml
config/perfectplushies-common.toml
config/Plushie_Buddies-Common.toml
config/polymorph-integrations.toml
config/ponder-client.toml
config/print.txt
config/armorsets/
config/ProjectE/client.toml
config/ProjectE/common.toml
config/ProjectE/processing.toml
config/ProjectE/server.toml
config/ProjectE/mapping.toml
config/quark-common.toml
config/quark_emotes
config/quickstack-client.toml
config/refurbished_furniture.client.toml
config/refurbished_furniture.server.toml
config/resourceful-config-web.json
config/roe_weapons-bow-settings.toml
config/roughlyenoughitems
config/sereneseasons
config/sidebar_buttons.json
config/simplehats-client.toml
config/simplehats-common.toml
config/simplehats.json
config/solcarrot-client.toml
config/sophisticatedbackpacks-common.toml
config/sophisticatedcore-client.toml
config/sophisticatedcore-common.toml
config/sophisticatedstorage-client.toml
config/sophisticatedstorage-common.toml
config/spartanweaponry-client.toml
config/spartanweaponry-common-1.toml.bak
config/spartanweaponry-common.toml
config/statues-client.toml
config/statues-common.toml
config/structure_gel-client.toml
config/structure_gel-common.toml
config/structurize-client.toml
config/supplementaries-client.toml
config/supplementaries-common.toml
config/tconstruct-client.toml
config/tempad-client.jsonc
config/tempad.jsonc
config/terrablender.toml
config/titanium
config/tombstone
config/tombstone-client.toml
config/tombstone-common.toml
config/tombstone-server.toml
config/torchmaster.toml
config/trashcans-common.toml
config/ultimine_addition
config/vinery.toml
config/voidscape-client.toml
config/voidscape-common.toml
config/waystones-common.toml
config/zeta-common.toml